.hero {
  color: #FFF;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.hero .main-bg-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  object-fit: cover;
}
.hero h1 {
  font-family: "Rubik Doodle Shadow";
  letter-spacing: 2px;
  font-size: 2.375rem;
  font-weight: 800;
}
.hero p {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (width < 576px) {
  .hero {
    padding-left: 2.5rem;
  }
}