.skills {
  display: flex;
  margin-top: 150px;
  gap: 3.5rem;
  position: relative;
}
.skills-img {
  position: relative;
}
.skills .section-img .section-img-points {
  position: absolute;
  right: -50px;
  left: unset;
  top: -40px;
  z-index: -1;
}
.skills-bg-img {
  position: absolute;
  right: 0;
  top: 1200px;
  z-index: -2;
}

.skills .section-img img:last-child{
  width: 100%;
}

.skills .arrow-down {
  bottom: 0;
  color: var(--main-color);
}

@media screen and (width < 1200px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skills .col:first-child {
    order: 1;
  }
  .skills-img {
    width: max-content;
    margin: 0 auto; 
  }
  .skills .col:nth-child(3) {
    order: -1;
  }
  .skills .arrow-down {
    align-self: flex-start;
  }
  .skills .col-4 {
    width: 100%;
    order: -1;
  }
  .skills .section-img .section-img-points {
    right: -20px;
    top: -30px;
  }
}
@media screen and (width < 992px) {
  .skills .col-6 {
    width: max-content;
    max-width: 100%;
  }
}