.section-img {
  position: relative;
  width: 100%;
}
.section-img .section-img-points {
  position: absolute;
  left: -50px;
  top: -40px;
  z-index: -1;
}
@media screen and (width < 1200px) {
  .section-img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .section-img img:last-child {
    width: 100%;
  }
}