.works {
  margin-top: 150px;
  position: relative;
}

.works-plot {
  position: absolute;
  left: 0;
  bottom: 30px;
}

.works h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}
.works .section-img {
  width: 100%;
}
.works .section-img img:nth-child(2) {
  width: 100%;
}

.works .arrow-down {
  bottom: -30px;
  color: var(--main-color);
}

@media screen and (width >= 1200px) {
  .works .col-6 img {
    display: none;
  }
}
@media screen and (width < 1200px) {
  .works {
    margin-top: 2rem;
  }
  .works .section-img {
    margin-bottom: 2rem;  
  }
  .works .col-4 {
    width: 100%;
    margin: 0 auto;
  }
  .works .col-4 img {
    display: none;
  }
  .works .col-6 {
    width: 100%;
  }
  .works-plot {
    opacity: 0.1;
  }
}