.nav-plot {
  position: absolute;
  z-index: -1;
}
.nav-plot {
  left: 2.7rem;
}


@media screen and (width < 1200px) {
  .skills-bg-img {
    opacity: 0.1;
  }
}
@media screen and (width < 576px) {
  .nav-plot {
    left: 16px;
    width: 6rem;
    top: 20px;
    transform: rotate(24deg);
  }
}